* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

/* Style the top navigation bar */
.nav {
	overflow: hidden;
	background-color: #045FB4;
}

/* Style the topnav links */
.nav a {
	float: left;
	display: block;
	color: #F2F2F2;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

/* Change color on hover */
.nav a:hover {
	background-color: #CEE3F6;
	color: #045FB4;
}

/* Style the content */
.content {
	background-color: #CEE3F6;
	color: #045FB4;
	padding: 15px;
	height: 100%;
}

/* Style the footer */ 
.footer {
	background-color: #EFF5FB;
	padding: 10px;
	text-align: center;
	color: #045FB4;
}

/* Style social media bar */
footer.socialLinks {
	display: block;
}

/* Style social media icons */
img.socialIcon {
	width: 50px;
	height: 50px;
	color: #CEE3F6;
	filter: opacity(10%);
}

img.socialIcon:hover {
	filter: opacity(100%);
}